<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Question name</th>
            <th scope="col">Is single answer</th>
            <th scope="col"><a class="fa fa-plus text-success" id="btnAddQuestion" data-toggle="modal" data-target="#qModal"></a></th>
        </tr>
    </thead>
    <tbody id="qTableBody"></tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="qModal" tabindex="-1" role="dialog" aria-labelledby="qModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="qModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="tbQName">Question name</label>
                    <input type="text" class="form-control" id="tbQName" placeholder="Enter Question name" maxlength="1024">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="chIsSingle">
                    <label class="form-check-label" for="chIsSingle">Is single answer</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnQSave">Save</button>
            </div>
        </div>
    </div>
</div>